/// Increments of spacing for helper classes
$space-amounts: (0, 1, 2, 3, 4, 5);

/// All vertical indices available for elements
/// Called via z-index function
$z-index-map: (
  body: 1,
  banner: 50,
  banner-icon: 51,
  header: 100,
  header-toggle: 101,
  modal: 1000
);

/// All colors available for elements
/// Called via color function
$color-map: (
  primary: (
    lightest: #9cbad4,
    light: #42688c,
    mid: #314f71,
    dark: #235570,
    darkest: #163545
  ),
  secondary: (
    light: #c63837,
    dark: #651010
  ),
  school1: (
    primary: #ff8800,
    secondary: #0077ff
  ),
  school2: (
    primary: #f0f164,
    secondary: #3b3b63
  ),
  school3: (
    primary: #a76df2,
    secondary: #6d76f2
  ),
  school4: (
    primary: #ab1818,
    secondary: #ea4bcb
  ),
  school5: (
    primary: #4dcafb,
    secondary: #3b004f
  ),
  school6: (
    primary: #b0f9f3,
    secondary: #2cdb04
  ),
  type: (
    attack: #e13927,
    defense: #277ee1,
    utility: #f9d500,
    ability: #e13927,
    character: #277ee1,
    movement: #f9d500,
  ),
  gray: (
    off-white: #f3f6fa,
    light: #e8eef4,
    mild: #dad9db,
    straight: #c1c0c1,
    dark: #7c8081,
    jet: #393939,
    off-black: #1c2021,
  ),

  mono: (
    black: #000,
    white: #fff
  )
);

/// Maximum width of non-full width content
$max-width: 1280px;

// Number of columns generated for the grid
$grid-columns: 12;
$grid-gutter-width: 0;

// Media query upper sizes
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1366px;
$screen-xl: 1920px;

