.banner {
	background-attachment: fixed;
	background-color: color(gray, jet);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: color(gray, jet);
	cursor: default;
	height: 60vh;
	//max-height: 840px;
	padding: 200px 0 0;
	position: relative;
	text-align: center;

	&.banner--1920 { background-image: url('../img/hero-1920.jpg'); }
	&.banner--2560 { background-image: url('../img/hero-2560.jpg'); }
	&.banner--3840 { background-image: url('../img/hero-3840.jpg'); }

	.banner__inner img {
		animation: reveal-banner 1s 0.25s ease-in-out;
		animation-fill-mode: forwards;
		background: transparent;
		height: auto;
		display: inline-block;
		max-width: 1920px;
		opacity: 0;
		width: 50vw;
	}

	.button__icon {
		animation: lower-on-load 0.8s 0.0s ease-in-out;
		animation-fill-mode: both;
		background: color(primary, light);
		border: 0;
		border-radius: 50%;
		bottom: 100px;
		height: 44px;
		position: absolute;
		left: calc(50% - 22px);
		width: 44px;

		&:before,
		&:after {
		    animation-fill-mode: both;
			background: color(primary, light);
			content: "";
		    height: 88px;
		    border-radius: 50%;
		    position: absolute;
			right: calc(50% - 44px);
			top: calc(50% - 44px);
		    opacity: 0;
		    width: 88px;
			z-index: 999;
		}

		&:before { animation: pulse-ring 1.8s 0.8s ease-out infinite; }
		&:after { animation: pulse-ring 1.8s 0.33s ease-out infinite; }
	}

	.button__icon--down-caret {
		position: absolute;
		right: 50%;
		top: 50%;
		z-index: 99999;

		&:before {
			background-image: url('../img/overlay-caret.png');
			background-position: center center;
			background-size: cover;
			content: "";
			height: 22px;
			position: absolute;
			right: calc(50% - 11px);
			top: calc(50% - 11px);
			width: 22px;
			z-index: 99999;
		}
	}

	@include breakpoint(mobile) {
		background-attachment: scroll;
		background-size: cover;
		height: 80vh;

		.banner__inner img {
			width: 90vw;
		}
	}
}
