
.tingle-modal-box {
	background-color: color(primary, dark);
}

.tingle-modal__close {
	height: 60px;
	line-height: 60px;

	.tingle-modal__closeIcon {
		font-size: 32px;
		vertical-align: top;
	}
	.tingle-modal__closeLabel {
		font-size: 24px;
		vertical-align: top;
	}
}